*{
    background-color: rgb(247, 221, 221);
    font-family: sans-serif;
   
}

h1,h2{
    text-align: center;
    font-size: 30px;
    color: rgb(0, 89, 255);
}

#opBasicas {
    display: flex;
    flex-direction: column; 
    gap: 15px;              
    align-items: center;    
}
.hidden {
    display: none !important;
    align-items: center;  
}

#listPesos {
    display: flex;       
    list-style: none;    
    padding: 0;          
    margin: 0;           
    gap: 10px;  
           
}


.peso {
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #8B00F5; 
    background: transparent;
    border-radius: 4px;
    transition: background 0.2s;
}

.peso:hover {
    background: #8B00F5;
    color: white;
}



#inputPergunta {
    background-color: rgb(255, 255, 255);
    width: 400px;  
    height: 30px;         
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    text-align: left;
}


#opBasicas .opcoes {
    display: flex;
    gap: 40px;          
}


#opcaoA, #opcaoB {
    background-color: white;
    color: black;
    width: 150px;       
    height: 150px;      
    text-align: center;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
}

#listaBtn {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 15px;
  justify-items: center; 
  width: 100%;
  max-width: 600px;
  margin: 0 auto; 
  list-style: none;
}

#listaBtn button {
  padding: 10px 16px;
  border: none;
  border-radius: 6px;
  background-color: white;
  color: rgb(10, 10, 10);
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

#listaBtn button:hover {
  background-color: #00a2ec;
}

#listaBtn button.selecionada {
  background-color: #15cf40 !important; 
  color: white;
  border: 2px solid #0e8a2b;
}

#listaBtn button.destaque-botao:hover {
  background-color: rgb(255, 210, 50);
}

#li-decisoes {
  display: flex;
  flex-direction: column;
  gap: 10px;            
  align-items: center; 
  padding: 0;
}

#li-decisoes li.criada {
  color: #000;
  background-color: #6ae2d8;
  list-style: none;
  border-radius: 8px;
  width: 80%;
  min-height: 120px;
  font-size: 50px;
  font-family: Arial;
  display: flex;
  align-items: center;      
  justify-content: center;  
  text-align: center;
}
